mixin validationErrorSummary(errors)
  if (errors && errors.length > 0)
    div(class="error-container")
      p(class="error-title theme") The following error(s) occurred:
      ul
        each error in errors
          li(class="error-message theme")= error

mixin field(labelText, fieldName, fieldValue, fieldType = 'text', placeholder = null)
  div(class='form-group')
    label(class="form-label" for=fieldName)= labelText
    if fieldType === 'textarea'
      textarea(id=fieldName name=fieldName class='form-control' rows='5')= fieldValue
    else
      input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder class='form-control')

mixin preview(id, icon, name, description, imgSrc)
  div(id=id class="preview-container theme")
    div(class="splash-details")
      div(class="preview-title theme")
        span(class=icon)
        p= name
      p= description
    div(class="splash-image-container theme")
      img(src=imgSrc)

mixin dashStoryDetail(label, value, id, attr)
  - var num = parseInt(value, 10)
  div(class="detail-container")
    if (num >= 0)
      span(class="detail-label")=label
      span(id=`m-${attr}-${id}` class=`fas fa-minus-circle ${attr}`)
      span(id=id class=`detail-value ${attr}`)=value
      span(id=`p-${attr}-${id}` class=`fas fa-plus-circle ${attr}`)
    else
      span(class="detail-label")=label
      span(id=id class=`detail-value ${attr}`)=value

mixin review(id, value, none)
  div(id=id class=`review-text theme hidden ${none ? "none" : ""}`)= value
  div(class="new-review hidden")
    textarea(class="new-review-textarea")
    div(class="new-review-buttons")
      button(class="submit-review theme") Submit
      button(class="delete-review theme") Delete
      button(class="cancel-review theme") Cancel


